{{todo.name}}
<a href="/todoList/{{todo._id}}/edit">edit</a>
<a href="/">back</a>
<form action="/todoList/{{todo._id}}/delete" method="POST" style="display: inline">
  <button type="submit">delete</button>
</form>