<input type="checkbox" name="isDone" {{#if todo.isDone}}checked{{/if}} disabled>
{{todo.name}}
<a href="/todoList/{{todo._id}}/edit">edit</a>
<a href="/">back</a>
<form action="/todoList/{{todo._id}}?_method=DELETE" method="POST" style="display: inline">
  <button type="submit">delete</button>
</form>