<form action="/todoList/{{todo._id}}?_method=DELETE" method="POST" style="display: inline">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" {{#if
        todo.isDone }} checked {{/if}} disabled>
    </div>
    <input type="text" class="form-control" value="{{todo.name}}" aria-label="Text input with checkbox" disabled>
    <a href="/todoList/{{todo._id}}/edit" class="btn btn-outline-secondary">edit</a>
    <button type="submit" class="btn btn-outline-danger">delete</button>
  </div>
</form>