<form action="/todoList/{{ todo._id }}?_method=PUT" method="POST">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input type="checkbox" name="isDone" class="form-check-input mt-0" {{#if todo.isDone}}checked{{/if}}>
    </div>
    <input type="text" placeholder="name" name="name" class="form-control" value="{{ todo.name }}">
    <button class="btn btn-primary" type="submit">Save</button>
    <a href="/" class="btn btn-outline-primary">back</a>
  </div>
</form>