{{!-- todos --}}
<a href="./todoList/new">Create page</a>
<ul>
  {{#each todos}}
  <li>
    {{this.name}}
    <input type="checkbox" name="isDone" {{#if this.isDone}}checked{{/if}} disabled>
    <a href="./todoList/{{this._id}}">detail</a>
    <a href="./todoList/{{this._id}}/edit">edit</a>
    <form action="./todoList/{{this._id}}/delete" method="POST" style="display:inline">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>