<form action="/todoList" method="POST">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="name" name="name">
    <button class="btn btn-primary" type="submit">create</button>
  </div>
</form>